.DS_Store
nvim/lazy-lock.json
devshell/.config-devshell/tmux/plugins/
devshell/.config-devshell/cache/
devshell/.config-devshell/local/
devshell/.config-devshell/state/
devshell/.config-devshell/nvim/
devshell/nix
devshell/.config-devshell/nvim
devshell/.config-devshell/tmux/tmux.conf
devshell/.nix-shims
